.upperPaneFill {
    -fx-background-color: lavender ;
    -fx-border-color: black;
}

.upperPaneFill:hover {
    -fx-background-color: #dbd5ff;
}

.upperPaneFillPressed {
    -fx-background-color: #b9aeff;
    -fx-border-color: black;
}

.fillHistoryItembackground{
    -fx-background-color: gray;
    -fx-border-color: black;
}

.border{
    -fx-border-color: black;
}

.fillHistoryItem{
    -fx-background-color: lavender ;
    -fx-border-color: black;
}

.fillHistoryItem:hover {
    -fx-background-color: #dbd5ff;
}

.fillHistoryItemClicked {
    -fx-background-color: #b9aeff;
    -fx-border-color: black;
}

.ctgPaneFill {
    -fx-background-color: linear-gradient(white, lightgray);
}

.ctgPaneFill:hover {
    -fx-background-color: #dbd5ff;
}

.ctgPaneFillClicked {
    -fx-background-color: #b9aeff;
    -fx-border-color: black;
}

.myAccountPane {
    -fx-background-color: linear-gradient(white, lightgray);
    -fx-border-color: black;
}

.myAccountPaneClicked {
    -fx-background-color: #b9aeff;
    -fx-border-color: black;
}

.myAccountPane:hover {
    -fx-background-color: #dbd5ff;
}

.deliveryTimePaneFill {
    -fx-background-color: lavender ;
    -fx-border-color: black;
}

.productsFill {
    -fx-background-color: #ffbf91;
    -fx-border-color: black;
}

.productsFill2 {
    -fx-background-color: #ebf2ff;
    -fx-border-color: black;
}

.exitColor {
    -fx-background-color: #ffe2e2;

}

.clickOnMePlus {
    -fx-background-color: #c2f0b0;
}


.clickOnMePlus:hover {
    -fx-border-color: #e1ffcd;
    -fx-background-color: #e1ffcd;
    -fx-font-size: 21px;
}

.clickOnMeMinus {
    -fx-background-color: #ffd7d7;
}

.clickOnMeMinus:hover {
    -fx-background-color: #ffedf0;
    -fx-border-color: #ffe2e2;
    -fx-font-size: 21px;
}