.upperPaneFill {
    -fx-background-color: lavender ;
    -fx-border-color: black;
}

.upperPaneFill:hover {
    -fx-background-color: #897ec3;
}

.upperPaneFillPressed {
    -fx-background-color: #b9aeff;
    -fx-border-color: black;
}

.ctgPaneFill {
    -fx-background-color: linear-gradient(white, lightgray);
}

.ctgPaneFill:hover {
    -fx-background-color: linear-gradient(darkgray, #717b80);
}

.ctgPaneFillClicked {
    -fx-background-color: #b9aeff;
}

.myAccountPane {
    -fx-background-color: linear-gradient(white, lightgray);
    -fx-border-color: black;
}

.myAccountPaneClicked {
    -fx-background-color: linear-gradient(darkgray, #717b90);
    -fx-border-color: black;
}

.myAccountPane:hover {
    -fx-background-color: #897ec3;
}

.productsFill {
    -fx-background-color: #ffbf91;
    -fx-border-color: black;
}

.exitColor {
    -fx-background-color: #e0a8a8;
    -fx-border-color: black;
}

.buyColor {
    -fx-background-color: #99e482;
    -fx-border-color: black;
}