.categoriesText {
    -fx-font-size: 17px;
    -fx-font-family: "Times New Roman";
}


.header {
    -fx-font-size: 30px;
    -fx-font-family: "Times New Roman";
}

.cart {
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
}

#logo{
    -fx-font-size: 64px;
    -fx-font-family: "Alien Encounters";
}

.vanligText {
    -fx-font-size: 20 px;
    -fx-font-family: "Calibri";
}

.tjockText {
    -fx-font-size: 20 px;
    -fx-font-family: "Athelas";
    -fx-fill-width: bold;
}

#menuItems {
    -fx-fill-width: true;
}